/* CODE */

/* INDEX */
.index-banner {
  width: 100%;
  background-image: url("../img/me.png");
  height: calc(100vh - 100px);
  background-size: cover;
	background-position:center top;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: 'Catamaran' , sans-serif;
  font-size: 56px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 70px;
  text-shadow: 2px 2px #666;
}

.index-banner h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 22px;
  color: #111;
  font-weight: 200;
  text-align: center;
  line-height: 38px;
  margin-top: 16px;
}

/* Cursor */
.txt-type > .txt {
  padding: 0px 10px;
  border-right: 0.2rem solid #777;
}

.title p {
	font-family: 'Catamaran', sans-serif;
  font-size: 28px;
  color: #6BA8B2;
  font-weight: 700;
  text-align: center;
	margin: 100px 0px 0px 0px;
}

.title h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 24px;
  color: #5F5F5F;
  font-weight: 700;
  text-align: center;
  line-height: 38px;
  margin: 16px 0px;
}

/* Portfolio */
.index-links div {
  margin: 16px auto;
  width: 250px;
  height: 250px;
  background-size: cover;
	background-position:center center;
}

#pro01 {
  background-image: url("../img/pro_01/cover.png");
}

#pro02 {
  background-image: url("../img/pro_02/visual_design.png");
}

#pro04 {
  background-image: url("../img/pro_03/cover.png");
}

.index-links div h3 {
  display: none;
}

/* Designs */
.index-designs {
  margin: 16px auto;
  width: 300px;
  height: 310px;
	position: relative;
}

#design-item1 {
	position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px, 0px);
  width: 140px;
  height: 160px;
	background-image: url("../img/ui04.png");
	background-position: 50% 50%;
	background-size: cover;
}

#design-item2 {
	position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(150px, 0px);
  width: 150px;
  height: 120px;
	background-image: url("../img/ui02.png");
	background-position: 50% 50%;
	background-size: cover;
}

#design-item3 {
	position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px, 170px);
  width: 140px;
  height: 140px;
	background-image: url("../img/ui03.png");
	background-position: 50% 50%;
	background-size: cover;
}

#design-item4 {
	position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(150px, 130px);
  width: 150px;
  height: 180px;
	background-image: url("../img/ui01.png");
	background-position: 50% 50%;
	background-size: cover;
}

#design-item5 {
	visibility: hidden;
}

#design-item6 {
	visibility: hidden;
}

/* ABOUT */
.about {
 margin: 0 16px;
}
.about p {
	font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  color: #111;
  font-weight: 200;
  text-align: center;
  line-height: 38px;
  margin-top: 16px;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 1000px) {

/* INDEX */
	.wrapper {
		width: 1000px;
		margin: 0 auto;
	}

	.index-banner {
	  height: 500px;
	}

	.index-banner h1 {
		display: block;
		width: 580px;
		margin: 10px auto;
	}

	.index-links {
		padding-left: 123px;
	}

	.index-links a div {
	  margin: 16px 0px;
		display: inline-block;
	  width: 250px;
	  height: 250px;
	  background-color: #f2f2f2;
	}

	.index-links a div:hover {
		background-color: #fff;
		opacity: 0.5;
		transition: 0.5s ease;
	}

	.index-designs {
	  margin: 16px auto;
	  width: 1000px;
	  height: 680px;
		position: relative;
	}

	#design-item1 {
	  transform: translate(0px, 0px);
	  width: 280px;
	  height: 400px;
	}

	#design-item2 {
	  transform: translate(300px, 0px);
	  width: 400px;
	  height: 320px;
	}

	#design-item3 {
	  transform: translate(300px, 340px);
	  width: 400px;
	  height: 300px;
	}

	#design-item4 {
	  transform: translate(720px, 0px);
	  width: 280px;
	  height: 360px;
	}

	.about {
	 margin: 0px 200px;
	}
	.about p {
	  font-size: 20px;
		margin-bottom: 100px;
	}
}
