/* GLOBEL */

h3 {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2rem;
  color: #111;
  font-weight: 700;
}

p {
  font-family: 'Catamaran', sans-serif;
  font-size: 1rem;
  color: #5F5F5F;
  font-weight: 400;
  line-height: 2rem;
}

/* CODE */

.index-color {
  background-color: #f3f8ff;
  height: 300px;
}

.wrapper {
  margin: 16px auto;
  width: calc(100vw - 32px);
  height: 1650px;
  background-color: #fff;
  position: relative;
  top: -100px;
}

.title h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.5rem;
  color: #111;
  font-weight: 700;
  text-align: center;
  line-height: 38px;
  margin: 16px 0px;
	padding: 1.5rem 0rem;
}

/* Portfolio */
.index-links div {
  margin: 16px auto;
  width: 250px;
  height: 250px;
	background-size: cover;
	background-position:center center;
}

.index-links div h3 {
	display: none;
}

.index-links div p {
  width: 280px;
	display: none;
}

#pro01 div {
  background-image: url("../img/pro_01/cover.png");
}

#pro02 div {
  background-image: url("../img/pro_02/cover.png");
}

#pro03 div {
  background-image: url("../img/pro_02/visual_design.png");
}

#pro04 div {
  background-image: url("../img/pro_03/cover.png");
}

#pro05 div {
  background-image: url("../img/pro_03/cover2.jpg");
}

#pro06 div {
  background-image: url("../img/pro_04/cover.jpg");
}

/* MEDIA QUERIES */
@media only screen and (min-width: 1000px) {

	.wrapper {
	  width: 1000px;
    height: 1400px;
	}

	.title h1 {
	  font-size: 2.2rem;
		padding: 5rem 0rem;
    margin: 0px;
	}

  .index-links {
    margin: 0px auto;
    width: 900px;
    position: relative;
  }

  .index-links div {
    display: unset;
  }

	#pro01 a div {
    position: absolute;
    transform: translate(0px, 0px);
    width: 280px;
    height: 380px;
	}

  #pro01 h3 {
    display: block;
    position: absolute;
    transform: translate(0px, 420px);
	}

  #pro01 p {
    display: block;
    position: absolute;
    transform: translate(0px, 460px);
	}

	#pro02 div {
    position: absolute;
    transform: translate(310px, 0px);
    width: 280px;
    height: 380px;
	}

  #pro02 h3 {
    display: block;
    position: absolute;
    transform: translate(310px, 420px);
	}

  #pro02 p {
    display: block;
    position: absolute;
    transform: translate(310px, 460px);
	}

	#pro03 div {
    position: absolute;
    transform: translate(620px, 0px);
    width: 280px;
    height: 400px;
	}

  #pro03 h3 {
    display: block;
    position: absolute;
    transform: translate(620px, 440px);
	}

  #pro03 p {
    display: block;
    position: absolute;
    transform: translate(620px, 480px);
	}

	#pro04 div {
    position: absolute;
    transform: translate(0px, 600px);
    width: 280px;
    height: 380px;
	}

  #pro04 h3 {
    display: block;
    position: absolute;
    transform: translate(0px, 1020px);
	}

  #pro04 p {
    display: block;
    position: absolute;
    transform: translate(0px, 1060px);
	}

	#pro05 div {
    position: absolute;
    transform: translate(310px, 630px);
    width: 280px;
    height: 380px;
	}

  #pro05 h3 {
    display: block;
    position: absolute;
    transform: translate(310px, 1050px);
	}

  #pro05 p {
    display: block;
    position: absolute;
    transform: translate(310px, 1090px);
	}

	#pro06 div {
    position: absolute;
    transform: translate(620px, 610px);
    width: 280px;
    height: 380px;
	}

  #pro06 h3 {
    display: block;
    position: absolute;
    transform: translate(620px, 1030px);
	}

  #pro06 p {
    display: block;
    position: absolute;
    transform: translate(620px, 1070px);
	}
}
